<main class="habilidades">
  <a name="habilidad"><h1>Habilidades</h1></a>  
  
  <div class="flex-container">
    <div class="card">
        <div class="boxx">
            <div class="porcent">
                <svg>
                    <circle cx="70" cy="70" r="70"/>
                    <circle cx="70" cy="70" r="70"/>
                </svg>
                <div class="number">
                    <h2>80<span>%</span></h2>
                </div>
                <h3 class="text">Html</h3>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="boxx">
            <div class="porcent">
                <svg>
                    <circle cx="70" cy="70" r="70"/>
                    <circle cx="70" cy="70" r="70"/>
                </svg>
                <div class="number">
                    <h2>40<span>%</span></h2>
                </div>
                <h3 class="text">Css</h3>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="boxx">
            <div class="porcent">
                <svg>
                    <circle cx="70" cy="70" r="70"/>
                    <circle cx="70" cy="70" r="70"/>
                </svg>
                <div class="number">
                    <h2>50<span>%</span></h2>
                </div>
                <h3 class="text">javascript</h3>
            </div>
        </div>
    </div>

    <div class="card">
      <div class="boxx">
          <div class="porcent">
              <svg>
                  <circle cx="70" cy="70" r="70"/>
                  <circle cx="70" cy="70" r="70"/>
              </svg>
              <div class="number">
                  <h2>30<span>%</span></h2>
              </div>
              <h3 class="text">Inglés</h3>
          </div>
      </div>
  </div>
</div>

</main>
