<div class="project-ppal">
<a name="proyectos"></a>
  <h1>Proyectos</h1>
  <div class="project-container">
    <ul>
      <li *ngFor="let proyecto of projectList">
        <div class="row">
          
            <h4>{{proyecto.name}}</h4>
            <div class="picture">            
              <img src="../../../assets/picture/proyecto01.png" alt="Portfolio project">                         
            </div>
            <div class="prfo-container">
              <p>{{proyecto.description}}</p>
            </div>
            
          
          <br><br>
        </div>
      </li>
    </ul>
  </div>
</div>