<div class="principal">

  <div class="izquierda">
    <div class="logo_ap" id="rc_logo">        
      <img src="../../../assets/picture/APLogo_2b.png" alt="Argentina Programa">
      <img class="top" src="../../../assets/picture/APLogo_2.png" alt="Argentina Programa">
    </div> 
  </div>
  
  
  <div class="centro">
    <!--<nav class="navbar navbar-expand-md navbar-light">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto mb-2 mb-md-0">
              <li class="nav-item">
                <a class="nav-link" href="#about">Acerca de</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#formacion">Formación</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#habilidades">Habilidades</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#proyectos">Proyectos</a>
              </li>
            </ul>
        </div>
      </div>
   </nav>-->

   <!--  <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Acerca de</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Educación</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Habilidades</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Proyectos</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
   -->
    <nav>
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
          <img src="../../../assets/picture/logo.png" alt="" class="logo">
      </label>
     
      <ul>          
          <li><a href="#home">Acerca de</a></li>
          <li><a href="#formacion">Educación</a></li>
          <li><a href="#habilidad">Habilidades</a></li>
          <li><a href="#proyectos">Proyectos</a></li>
      </ul>
   </nav>
  </div>
  

  <div class="derecha">
    
            <!-- LOGIN -->
    <div class="btn1">
      <button class="boton login" id="btnModal">
        Login
      </button>
    </div>


    <div class="sociales">
    
    
      <a href="https://www.facebook.com/Fabio.de.San.Juan" 
      target="_blank" rel="noopener noreferrer">
        <img class="extra" src="../../../assets/picture/facebook.png" alt="facebook">
      </a>
    <a href="https://github.com/fabiobustos-sanjuan" target="_blanck" rel="noopener noreferrer">
      <img class="extra" src="../../../assets/picture/github.png" alt="github">
    </a>
    <a href="https://www.linkedin.com/in/fabian-bustos-sanjuan/" target="_blanck" rel="noopener noreferrer">
      <img class="extra" src="../../../assets/picture/inkedin logo.png" alt="linkedin">
    </a>

    </div>
    
    
    
    
    <div id="myModal" class="modalContainer">
      <div class="box">
        <span class="close">×</span>
        <h2>Login</h2>    
        <form class="form1">      
          <div class="inputBox">
            <input type="email" name="email" required 
            onkeyup="this.setAttribute('value', this.value);" value="">
            <label>Username</label>
          </div>
          <div class="inputBox">
            <input type="password" name="password" required value=""
                onkeyup="this.setAttribute('value', this.value);"
                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                title="Debe contener al menos un número y una letra
                mayúscula y minúscula, y una longitud de 8 o más caracteres">
            <label>Password</label>
          </div>
          <input type="submit" name="sign-in" value="Sign In">
        </form>
      </div>
    </div>
  </div>
</div>
