  .row-2{
    background:#fff;
  }
  footer{
    color: grey;
    font-size:16px;
    display:flex;
    flex-direction:column;
    text-align:center;    
  }

.separa {
    border: 10px solid #00358e;
    width: 93%;
    border-radius: 50%;
  }

  /* Botón Ir Arriba */

  #myBtn {
  display: none; 
  width: 60px;
  position: fixed; 
  bottom: 20px; 
  right: 10px; 
  z-index: 99; 
  border: 2px solid #fff; 
  outline: none; 
  background-color: #00358e; 
  color: white; 
  cursor: pointer;
  padding: 15px; 
  border-radius: 50%; 
  font-size: 26px; 
}

#myBtn:hover {
  background-color: #3498db;
}